body {
        font-family: "Roboto";
        box-sizing: border-box;
        margin: 0px;
      }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    padding: 0 72px;
}

.links-container {
    padding-left: 22px;
    /* margin-left: auto; */
    font-size: 18px;
    display: flex;
    gap: 26px;
    }


.link a {
    text-decoration: none;
    color: white;
}

.top-section{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 72px;
}    

.top-left{
    font-size: 48px;
    font-weight: 900;
    color: white
}

.top-left p{
    font-size: 18px;
    color: antiquewhite;
}

.top-right{
    object-fit: cover;
    border-radius: 10px;
}

.buttonone{
    background-color: #3882f6;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.first-main{
    padding-inline: 44px;
}

#information{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    
}

.four-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end
    
   }

.photo-combo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}

.photo-combo img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border: 4px solid rgb(41, 79, 206);
    border-radius: 10px;
}

.second-main{
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    flex-direction: column;
        }

    .quote{
        font-size: 36px;
        color: #1F2937;
        font-weight: lighter;
        font-style: italic;
        width: 600px;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .author{
        font-size: 20px;
        font-weight: bold;
        display: flex;
        width: 600px;
        flex-direction: row-reverse;
        align-self: flex-end;
        margin: auto;

    }


    .bottom-section{
        background-color: #3882f6;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 600px;
        border-radius: 12px;
        margin: 64px auto;        
    }

    .call{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttontwo{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 16px;
    }

    .footer{
        display: flex;
        justify-content: center;
        background-color: #1F2937;
        color: white;
        font-size: 18px;
        padding: 30px;
    }