    * {
        font-family: "Roboto";
        box-sizing: border-box;
        margin: 0px;
      }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
}

.links {
    gap: 14px;
    margin-left: auto;
    font-size: 18px;
    }

a{
    text-decoration: none;
    color: white;
    }


.top-section{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 44px;
}    

.top-left{
    font-size: 48px;
    font-weight: 900;
    color: white
}

.top-left p{
    font-size: 18px;
    color: antiquewhite;
}

#topbutton{
    background-color: #3882f6;
    color: white;
}